@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}
body {
  background-color: #f8fafc; /* tailwind sky-50 */
  color: #1e293b; /* slate-800 */
  font-family: Inter, system-ui, sans-serif;
}

